body {
  font-family: "Arial", sans-serif;
  background-color: #f8e1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(135deg, #f8e1ff 0%, #e6e6fa 100%);
}
.login-container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(147, 112, 219, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}
h1 {
  color: #8a2be2;
  margin-bottom: 1rem;
}
input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #e6e6fa;
  border-radius: 4px;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  border-color: #8a2be2;
}
button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #ff1493;
}
#signupBtn {
  background-color: #8a2be2;
}
#signupBtn:hover {
  background-color: #9370db;
}

.errorMsg {
  color: red;
  margin-top: 1rem;
}
